<div class="container">
  <h3 mat-dialog-title>Add new Branch</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Institute Name" [(ngModel)]="data.instName" name="instName"
          required>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="Branch" [(ngModel)]="data.Branch" name="Branch"
          maxlength="20" required>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="Branch Admin Contact" [(ngModel)]="data.BranchAdminContact"
          name="BranchAdminContact" required>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate type="email" class="form-control" placeholder="Branch Admin Email" [(ngModel)]="data.BranchAdminEmail"
          name="BranchAdminEmail" required>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
