<div layout-fill layout="column" layout-align="center none">
  <div layout="row" layout-align="center none">
<mat-progress-bar mode="indeterminate"[style.display]="showSpinner ? 'block' : 'none'"></mat-progress-bar>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form #loginForm="ngForm" (keyup.enter)="loginForm.form.valid? login(username, password): null">
          <table cellspacing="0">
            <tr>
              <td>
                <mat-form-field>
                  <input 
                    matInput
                    placeholder="Username"
                    [(ngModel)]="username"
                    name="username"
                    required
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Password"
                    [(ngModel)]="password"
                    type="password"
                    name="password"
                    required
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-label *ngIf="isCorrectUser">Username or password incorrect!</mat-label>
            </td>
            </tr>
          </table>
        </form>
        <!-- <mat-spinner
          [style.display]="showSpinner ? 'block' : 'none'"
        ></mat-spinner> -->
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="login(username, password)" [disabled]="!loginForm.form.valid" color="primary">
          Login
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
