<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list [cols]="(isHandset$ | async) ? '1' : '3'" rowHeight="120px">
    <mat-grid-tile
      *ngFor="let card of (cards | async)"
    >
      <mat-card class="dashboard-card" (click)="redirect(card.name)" >
        <mat-card-header>
          <mat-card-title>
            <!--
              <button
                mat-icon-button
                class="more-button"
                [matMenuTriggerFor]="menu"
                aria-label="Toggle menu"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            -->
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <h2>{{ card.title }}</h2>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
